appDomain: change-me
partOf: trustify
replicas: 1

image:
  fullName: registry.redhat.io/rhtpa/rhtpa-trustification-service-rhel9@sha256:677d387e2f83adf937843e960767774b12e938c1e305387d605aeb4c7a24873c
  pullPolicy: IfNotPresent

rust: {}

ingress: {}

tls: {}

storage: {}

database: {}

openshift:
  useServiceCa: true

oidc:
  clients:
    frontend: {}
    cli:
      clientSecret:

infrastructure:
  port: 9010

metrics:
  enabled: false

tracing:
  enabled: false

collector:
  deployment:
    enabled: false

modules:
  server:
    enabled: true
    replicas: 1
    ingress: {}
    image: {}
    infrastructure: {}
    tracing: {}
    metrics: {}
    rust: {}
    resources:
      requests:
        cpu: 1
        memory: 8Gi

  importer:
    enabled: true
    replicas: 1
    image: {}
    infrastructure: {}
    tracing: {}
    metrics: {}
    rust: {}
    resources:
      requests:
        cpu: 1
        memory: 8Gi
    concurrency: 1
    workingDirectory:
      size: 32Gi

  createDatabase:
    enabled: false
    image: {}

  migrateDatabase:
    enabled: false
    image: {}

  createImporters:
    enabled: true
    image: {}
    importers:
      redhat-sboms:
        sbom:
          description: All Red Hat SBOMs
          period: 1d
          source: https://access.redhat.com/security/data/sbom/beta/
          keys:
            - https://access.redhat.com/security/data/97f5eac4.txt#77E79ABE93673533ED09EBE2DCE3823597F5EAC4
          disabled: true
          fetchRetries: 50
      redhat-csaf:
        csaf:
          description: All Red Hat CSAF data
          period: 1d
          source: redhat.com
          disabled: true
          fetchRetries: 50
      cve:
        cve:
          description: CVE list v5
          period: 1d
          source: https://github.com/CVEProject/cvelistV5
          disabled: true
      osv-github:
        osv:
          description: GitHub Advisory Database
          period: 1d
          source: https://github.com/github/advisory-database
          path: advisories
          disabled: true
      quay-redhat-user-workloads:
        quay:
          description: SBOMs from konflux image attachments
          period: 1d
          source: quay.io
          namespace: redhat-user-workloads
          disabled: true
